@model GetByIdPlatesDto
@{
    Layout = null;
}


<aside class="profile-card">
    <header>
        <!-- here’s the avatar -->
        <a target="_blank" href="#">
            <img src="https://cdn.pixabay.com/photo/2016/03/26/22/34/car-1281640_1280.jpg" class="hoverZoomLink">
            <link href="~/css/detailcss.css" rel="stylesheet" />
        </a>

       
        <h1>
            @Model.Title
        </h1>


    </header>

    <div class="profile-bio">

        <p>
            <ul>

                <li><span class="label">Marka:</span><strong>@Model.Brand</strong> </li>
                <li><span class="label">Model:</span><strong>@Model.Model</strong> </li>
                <li><span class="label">Şehir Plaka:</span><strong>@Model.CityNr</strong> </li>
                <li><span class="label">Üretim Tarihi:</span><strong>@Model.Year</strong> </li>
                <li><span class="label">Yakıt Tipi:</span><strong>@Model.Fuel</strong> </li>
                <li><span class="label">Vites Tipi:</span><strong>@Model.ShiftType</strong> </li>
                <li><span class="label">Silindir:</span><strong>@Model.MotorVolume</strong> </li>
                <li><span class="label">Motor Hacmi:</span><strong>@Model.MotorPower</strong> </li>
                <li><span class="label">Renk:</span><strong>@Model.Color</strong> </li>
                <li><span class="label">Kasa Tipi:</span><strong>@Model.CaseType</strong> </li>

               


            </ul>
        </p>
        <a href="/Deafult/Index" class="lnr-text-align-center btn btn-primary">Ana Sayfaya Dön</a>
    </div>

 
</aside>

