@model GetByIdPlateDto
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>


    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- title of site -->
    <title>CarVilla</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/carvilla/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/linearicons.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carvilla/assets/css/owl.theme.default.min.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/carvilla/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/carvilla/assets/css/responsive.css">


</head>

<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }

            li:last-child {
                border-bottom: none;
            }

        .label {
            font-weight: bold;
            color: #333;
        }
    </style>
    <section id="home" class="welcome-hero">

        <!-- top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                    <div class="container">

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">carvilla<span></span></a>

                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class=" scroll active"><a href="#home">home</a></li>
                                <li class="scroll"><a href="#service">service</a></li>
                                <li class="scroll"><a href="#featured-cars">featured cars</a></li>
                                <li class="scroll"><a href="#new-cars">new cars</a></li>
                                <li class="scroll"><a href="#brand">brands</a></li>
                                <li class="scroll"><a href="#contact">contact</a></li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->
            <div class="clearfix"></div>

        </div><!-- /.top-area-->
        <!-- top-area End -->

        <div class="container">
            <div class="welcome-hero-txt">
                <h2>get your desired car in resonable price</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
                </p>
                <button class="welcome-btn" onclick="window.location.href='#'">contact us</button>
            </div>
        </div>



    </section><!--/.welcome-hero-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="new-cars" class="new-cars">
        <div class="container">
            <div class="section-header">
                <p>checkout <span>the</span> latest cars</p>
                <h2>Araba Detayları</h2>
            </div><!--/.section-header-->
            <div class="new-cars-content">
                <div class="owl-carousel owl-theme" id="new-cars-carousel">
                    <div class="new-cars-item">
                        <div class="single-new-cars-item">
                            <div class="row">
                                <div class="col-md-7 col-sm-12">
                                    <div class="new-cars-img">
                                        <img src="assets/images/new-cars-model/ncm1.png" alt="img" />
                                    </div><!--/.new-cars-img-->
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <div class="new-cars-txt">
                                        <h2><a>@Model.Brand <span> @Model.Model</span></a></h2>
                                        <p>
                                            <ul>
                                                <li><span class="label">Araç Adı :</span> @Model.Title</li>
                                               <br /> <li><span class="label">Plaka Kodu:</span> @Model.CityNr</li>
                                                <br /> <li><span class="label">Lisans Tarihi:</span> @Model.LicenceDate</li>
                                               <br /> <li><span class="label">Üretim Tarihi:</span> @Model.Year</li>
                                              <br />  <li><span class="label">Yakıt Tipi:</span> @Model.Fuel</li>
                                              <br />  <li><span class="label">Vites Tipi:</span> @Model.ShiftType</li>
                                               <br /> <li><span class="label">Silindir Hacmi:</span> @Model.MotorVolume</li>
                                              <br />  <li><span class="label">Beygir Gücü:</span> @Model.MotorPower</li>
                                              <br />  <li><span class="label">Renk:</span> @Model.Color</li>
                                              <br />  <li><span class="label">Kasa Tipi:</span> @Model.CaseType</li>

                                            </ul>
                                        </p>

                                        <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                            view details
                                        </button>
                                    </div><!--/.new-cars-txt-->
                                </div><!--/.col-->
                            </div><!--/.row-->
                        </div><!--/.single-new-cars-item-->
                    </div><!--/.new-cars-item-->

                </div><!--/#new-cars-carousel-->
            </div><!--/.new-cars-content-->
        </div><!--/.container-->

    </section><!--/.new-cars-->
    <!--brand strat -->
    <section id="brand" class="brand">
        <div class="container">
            <div class="brand-area">
                <div class="owl-carousel owl-theme brand-item">
                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br1.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br2.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br3.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br4.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br5.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#">
                            <img src="assets/images/brand/br6.png" alt="brand-image" />
                        </a>
                    </div><!--/.item-->
                </div><!--/.owl-carousel-->
            </div><!--/.clients-area-->

        </div><!--/.container-->

    </section><!--/brand-->


    <script src="~/carvilla/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/carvilla/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/carvilla/assets/js/bootsnav.js"></script>

    <!--owl.carousel.js-->
    <script src="~/carvilla/assets/js/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/carvilla/assets/js/custom.js"></script>

</body>

</html>
